/* header */
/* Togal start  */
.navbar-toggler {
  font-size: 1rem;
  line-height: 1;
}
.navbar-toggler:focus {
  border: none;
}
button:focus:not(:focus-visible) {
  outline: 0;
  border: none;
  color: transparent;
}
.navbar-light .navbar-toggler {
  /* color: rgba(0, 0, 0, 0.55); */
  /* border-color: rgba(0,0,0,.1); */
  border: none;
}
/* Togal end  */
.logosss {
  height: 46px;
  width: 215px;
  object-fit: contain;
}
.logosss-contect {
  height: 138px;
  width: 295px;
  object-fit: contain;
}
.header {
  background: #0fcef7;
  /* padding: 20px 0px; */
}
.header .logo {
  font-size: 30px;
  padding: 10px 20px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: -1.7px;
}
/* .hederlogss {
  color: rgba(255, 255, 255, 0.41);
  font-size: 30px;
} */
.header .logo span {
  /* margin-right: 10px; */
  color: rgba(255, 255, 255, 0.41);
}
.navbar-nav .dropdown-menu {
  /* position: static; */
  background: #0fcef6;
  border: none;
}
.navbra_top_iner {
  text-transform: uppercase;
  /* font-size: 2em; */
  font-weight: 600;
  color: #031f9a;
}
.navbra_top {
  white-space: nowrap;
  padding: 10px 20px;
  font-size: 15px;
  text-align: center;
  border-radius: 10px;
  text-transform: uppercase;
  /* font-size: 2em; */
  font-weight: 600;
  color: #031f9a;
}
.navbar-light .navbar-nav .nav-link {
  white-space: nowrap;
  padding: 10px 20px;
  font-size: 15px;
  text-align: center;
  border-radius: 10px;
  text-transform: uppercase;
  /* font-size: 2em; */
  font-weight: 600;
  color: #031f9a;
  /* letter-spacing: 2px; */
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 0.7);
  background-color: white;
  border-radius: 10px;

  /* padding: 10px; */
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #1e2125;
  background-color: white;
  border-radius: 10px;
  /* text-align: center; */
}
.dropdown-item {
  text-align: center;
  padding: 10px;
  font-size: large;
  border-radius: 10px;
}

.header .menu {
  /* clear: both; */
  /* max-height: 0; */
  /* transition: max-height 0.2s ease-out; */
  text-align: center;
}
.manu1 {
  text-align: center;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 5px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 25px;
  border-radius: 5px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
  border-radius: 5px;
}

.header .menu-icon .navicon:before {
  top: 10px;
}

.header .menu-icon .navicon:after {
  top: -10px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 500px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
  /* background: red; */
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 1024px) {
  .logosss {
    height: 46px;
    width: 215px;
    object-fit: contain;
  }

  .header li {
    float: left;
  }

  .nav_w3ls {
    float: right;
  }

  .header .menu-icon {
    display: none;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

li.dropdown.nav-item:hover {
  background: #ffffff;
}

.dropdown-content .show {
  background: #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9;
  background: #fff;
  top: 40px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
@media screen and (max-width: 1280px) {
  .navbar-light .navbar-nav .nav-link {
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 600;
    color: #031f9a;
    /* letter-spacing: 2px; */
    word-spacing: 100px;
  }
  .navbra_top {
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 600;
    color: #031f9a;
    /* letter-spacing: 2px; */
    word-spacing: 100px;
  }
  .header .menu {
    padding-right: 70px;
  }
  .header li a {
    border-right: 1px solid transparent;
  }
}
@media screen and (max-width: 1279px) {
  .navbar-light .navbar-nav .nav-link {
    padding: 10px;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 600;
    color: #031f9a;
    /* letter-spacing: 2px; */
    word-spacing: 100px;
  }
  .navbra_top {
    padding: 10px;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 600;
    color: #031f9a;
    /* letter-spacing: 2px; */
    word-spacing: 100px;
  }
  .header .menu {
    padding-right: 70px;
  }
  .header li a {
    border-right: 1px solid transparent;
  }
}
@media screen and (max-width: 1024px) {
  .navbar-light .navbar-nav .nav-link {
    padding: 10px;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 600;
    color: #031f9a;
    /* letter-spacing: 2px; */
    word-spacing: 100px;
  }
  .navbra_top {
    padding: 10px;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 600;
    color: #031f9a;
    /* letter-spacing: 2px; */
    word-spacing: 100px;
  }
  .header .menu {
    padding-right: 70px;
  }
  .header li a {
    border-right: 1px solid transparent;
  }
}
@media screen and (max-width: 991px) {
  .header li a {
    border-right: 1px solid transparent;
  }

  .dropdown {
    display: block;
  }

  .dropdown-content {
    width: 100%;
  }
  .header .menu {
    padding-right: 0;
  }
}

@media screen and (max-width: 568px) {
  .header li a {
    letter-spacing: 0px;
  }
}
