body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
  overflow-x: hidden;
}

code {
  font-family: Roboto;
}
*::-webkit-scrollbar {
  display: none;
}
